<div class="text-center">
    <h2>ToDo一覧</h2>
</div>

<nav aria-label="Search results pages">
  <ul class="pagination justify-content-center">
    <% if (pagenation.pagePre) { %>
      <li class="page-item"><a class="page-link" href="?page=<%= pagenation.pagePre %>">Previous</a></li>
    <% } %>
    <% pagenation.pageNumArr.forEach(pageNum => { %>
      <% const activeClass = pageNum === pagenation.currentPage ? 'active' : '' %>
      <li class="page-item <%= activeClass %>"><a class="page-link" href="?page=<%= pageNum %>"><%= pageNum %></a></li>
    <% }) %>
    <% if (pagenation.pageNext) { %>
      <li class="page-item"><a class="page-link" href="?page=<%= pagenation.pageNext %>">Next</a></li>
    <% } %>
  </ul>
</nav>

<table class="table table-hover" id="todos-table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Deadline</th>
      <th scope="col">Completed</th>
      <th scope="col">Updated</th>
      <th scope="col">全<%= itemNum %>件</th>
    </tr>
  </thead>
  <tbody>
    <% todos.forEach(todo => { %>
      <% const completedParams = todo.completed ? ['完了', 'DELETE', '完了取消'] : ['未完了', 'PUT', '完了'] %>
      <tr>
        <th> <%= todos.indexOf(todo) + 1 + (pagenation.currentPage - 1) * itemPerPage  %> </th>
        <td> <%= todo.title %> </td>
        <td> <%= todo.deadline %> </td>
        <td> <%= completedParams[0] %> </td>
        <td> <%= todo.updatedAt.toString().slice(0,-17) %> </td>
        <td> 
          <button class="btn btn-outline-primary btn-sm" onclick="location.href='/todos/<%= todo.id %>/completed?_method=<%= completedParams[1] %>'"><%= completedParams[2] %></button> 
          <button class="btn btn-outline-danger btn-sm" onclick="location.href='/todos/<%= todo.id %>?_method=DELETE'">削除</button> 
        </td>
      </tr>
    <% }) %>
  </tbody>
</table>

